.dropZone {
  width: 100%;
  border: none;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  background: var(--medium-pink);
  transition: all 0.3s ease;
  gap: 10px;
}

.dragging {
  background: var(--light-green);
  transform: scale(1.02);
}

.withFile {
  border: 1px solid #201B10;
  background: var(--light-pink);
}

.uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.uploadButton {
  background-color: white;
  color: var(--black);
  border: none;
  padding: 15px 27px;
  border-radius: var(--button-radius-small);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
  cursor: pointer;
  transition: all 0.2s ease;
}

.dragText {
  color: var(--black);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
}