.fileDisplay {
  width: 100%;
  padding: 0;
  background: transparent;
}

.fileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.fileName {
  padding: 15px 27px;
  border-radius: var(--button-radius-small);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  color: var(--black);
}

.fileName.success {
  background: var(--dark-pink);
}

.fileName.error {
  background: var(--orange);
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  border: none;
  border-radius: var(--button-radius-small);
  padding: 18px;

  .crossIcon {
    width: 20px;
    height: 20px;
  }
}

.successMessage {
  text-align: center;
  color: var(--black);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}

.errorMessage {
  text-align: center;
  color: var(--orange);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}