* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCE2FF;
  min-height: 100vh;
  color: #333;
}


:root {
  /* COLORS */
  --black: #201B10;
  --light-pink: #FCE2FF;
  --medium-pink: #EACDFF;
  --dark-pink: #CB81FF;
  --dark-green: #2AE881;
  --light-green: #D4FAE6;
  --orange: #FF5F00;

  /* FONTS */
  --title-size: 24px;
  --title-weight: 400;
  --button-text-size: 24px;
  --button-text-weight: 400;
  --button-radius-small: 10px;
  --button-radius-large: 25px;
}