.completedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fileName {
  background: var(--light-green);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 400;
}

.removeButton {
  background: var(--black);
  border: none;
  border-radius: var(--button-radius-small);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.removeButton img {
  width: 16px;
  height: 16px;
  color: white;
}

.statusText {
  text-align: center;
  color: var(--black);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
}